:root{
  --secondary: rgba(221, 221, 221, 1)
  --grayBg: #F3F3F3;
  --bred:#F15A29;
}
body{
  overflow-x: hidden;
}
.input-placeholder-black::placeholder {
  color: black; /* Placeholder color */
}

/* Hide scrollbar for WebKit browsers */
textarea::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for Firefox */
textarea {
  scrollbar-width: none; /* for Firefox */
}

/* Optionally, you can set a minimum height for your textarea */
textarea {
  min-height: 100px; /* Adjust this height as needed */
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-modal-root .ant-modal-mask{
  background-color: rgba(0, 0, 0, 0.103);
}

